<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/StyleLogin.css' />
  </head>
  <body>
    <h1>LOG IN</h1><br/>
    <h3>Welcome to the login page, please enter your user:</h3>
    <form action="/MenuPage" method="post">
        User Name:<input required type="text" name="username"><br/>
        password:<input required type="password" name="password"><br/>
        <div class="sub_group">
          <input type="submit" value="send" ><br/>
        </div>
    </form>
  </body>
</html>
